<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Maximiliano Flores</title>
</head>
<h1>
		----  Menu  ----
</h1>
<body>
<ul>
	<li><a href="calculosuma?n1=78&n2=20">1.Suma:</a></li>
	<li><a href="calculoresta?n1=4&n2=2">2.Resta:</a></li>
	<li><a href="calculodivision?n1=5&n2=0">3.Division:</a></li>
	<li><a href="calculomultiplicacion?n1=20&n2=6">4.Multiplicacion:</a></li>
	<li><a href="calculopotencia?n1=3&n2=2">5.Potencia:</a></li>
	<li><a href="calculoraiz?n1=9&n2=2">6.Raiz</a></li>
</ul>

</body>
</html>